*.iml
/.*
!/.gitignore
!/.gitattributes
.idea/
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.agents/
docs/
*.md
app/release/
breath-studio-release-key.jks
